.rdp-months {
  padding: 0 10px 10px 10px;
}

.rdp-day {
  width: 10px !important;
  height: 10px !important;
}

.rdp-caption_label {
  font-size: 14px;
  color: #4f4f4f;
}

.rdp-day_button {
  font-size: 12px;
  color: #4f4f4f;
  width: 25px;
  height: 25px;
}

.rdp-selected .rdp-day_button {
  border-color: #2f80ed;
}

.rdp-button_previous svg {
  fill: #4f4f4f;
  width: 12px;
}

.rdp-button_next svg {
  fill: #4f4f4f;
  width: 12px;
}
